{% if '/orders/' in request.path  %}

<div class='text-white sticky-top'>
  <ul class="nav d-flex justify-content-around">
      <li class="nav-item text-center flex-fill bg-primary bg-gradient">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item text-center flex-fill bg-success bg-gradient">
        <a class="nav-link text-white" href={% url 'pending_or_done_orders' %}>Order</a>
      </li>
      <li class="nav-item text-center flex-fill bg-primary bg-gradient">
        <a class="nav-link text-white" href="#">Inventory</a>
      </li>
  </ul>
</div>
{% else %}
<div class=' p-1 bg-primary bg-gradient text-white sticky-top'>
  <ul class="nav d-flex justify-content-around">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href={% url 'pending_or_done_orders' %}>Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Inventory</a>
      </li>
  </ul>
</div>
{% endif %}
