{% include "default/index.html" %}
{% include "orders/pending_or_done_orders.html" %}
{% block content%}

<div class="d-flex flex-wrap m-3">
    {% for order in orders %}
    <a href={% url 'orderitem_list' order.id%}>
        <div class="flex-column  m-3 ">
            <div class="card " style="width: 9rem;">
                <div class="card-body">
                  <h5 class="card-title">{{order.order_number}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{order.status}}</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>
        </div>
    </a>
{% endfor %}
</div>
<a href={% url 'order_create' %}>
    <button type="button" class="m-5 btn btn-primary float-end fixed-bottom">New Order</button>
</a>
{% endblock content%}
