{% include "default/index.html" %}
{% block content%}

{% if '/orders/pending/' in request.path  %}
<div class="d-flex  justify-content-around">
  <a class="text-white bg-success flex-fill text-center" href={% url 'pending_order_list' %} style="text-decoration:none;">
    <div class=" m-2" >
        <h5 class="card-title">Pending Orders</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{order.status}}</h6>
    </div>
  </a>
  <a class="text-white bg-primary flex-fill text-center" href={% url 'done_order_list' %} style="text-decoration:none;">
    <div class=" m-2" >
        <h5 class="card-title">Done Orders</h5>
        
    </div>
  </a>
</div>
{% else %}
<div class="d-flex  justify-content-around">
  <a class="text-white bg-primary flex-fill text-center" href={% url 'pending_order_list' %} style="text-decoration:none;">
    <div class=" m-2" >
        <h5 class="card-title">Pending Orders</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{order.status}}</h6>
        
    </div>
  </a>
  <a class="text-white bg-success flex-fill text-center" href={% url 'done_order_list' %} style="text-decoration:none;">
    <div class=" m-2" >
        <h5 class="card-title">Done Orders</h5>
        
    </div>
  </a>
</div>
{% endif %}
<div class="d-flex flex-wrap m-3">
    {% for order in orders %}
    <a href={% url 'orderitem_list' order.id%}>
        <div class="flex-column  m-3 ">
            <div class="card " style="width: 9rem;">
                <div class="card-body">
                  <h5 class="card-title">{{order.order_number}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{order.status}}</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>
        </div>
    </a>
{% endfor %}
</div>
<a href={% url 'order_create' %}>
    <button type="button" class="m-5 btn btn-primary float-end fixed-bottom">New Order</button>
</a>
{% endblock content%}
