{% include "default/index.html" %}
{% block content%}

{% for order in orders %}
    <div class="flex-column flex-wrap mb-3 ">
        <div class="card " style="width: 9rem;">
            <div class="card-body">
              <h5 class="card-title">{{order.order_number}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{order.status}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
{% endfor %}
<a href={% url 'order_create' %}>
    <button type="button" class="m-5 btn btn-primary float-end z-100">Primary</button>
</a>
{% endblock content%}
